html,
body {
  background-color: #bfe3dd;
  color: black;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: monospace;
  font-size: 13px;
  line-height: 20px;
}

a {
  color: #2983ff;
  text-decoration: none;
}

#info {
  position: absolute;
  bottom: 15px;
  right: 15px;
  text-align: right;
  left: 15px;
}

@media screen and (max-width: 600px) {
  #info {
    text-align: center;
  }
}