html,
body {
  background-color: #bfe3dd;
  color: #666;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: monospace;
  font-size: 13px;
  line-height: 20px;
}

a {
  color: #2983ff;
  text-decoration: none;
}

#container {
  position: relative;
  background-color: black;
}

#info {
  position: absolute;
  bottom: 15px;
  right: 15px;
  text-align: right;
  left: 15px;
}

.fixed-ratio {
  #container {
    aspect-ratio: 4 / 3;
    padding: 8px;
    border-radius: 12px;
    box-sizing: border-box;
    box-shadow: 0 4px 42px rgba(0, 0, 0, 0.75);
  }

  canvas {
    border-radius: 4px;
  }
}

@media screen and (max-width: 600px) {
  #info {
    text-align: center;
  }
}